section( class="new" )
  div( class="new__container")
    div( class="new__content-wrapper" )
      h2( class="heading heading--2 new__heading") New In Store Now
      p( class="paragraph paragraph--small new__paragraph") Get the latest items immediately with promo prices
      a( class="link link--common new__link" href="#" ) Check All 
    div( class="new__slider-wrapper")
      div( class="swiper new__swiper swiper-new" )
        div( class="swiper-wrapper swiper-new__wrapper" )
          div( class="swiper-slide swiper-new__slide slide-swiper-new" )
            div( class="slide-swiper-new__body" style={ "background-image": "linear-gradient(0deg, rgba( 0, 0, 0, .3 ), transparent), url('assets/img/new/i-1@2x.jpg')" })
              a( class="link slide-swiper-new__link" href="#" ) Chair
          div( class="swiper-slide swiper-new__slide slide-swiper-new" )
            div( class="slide-swiper-new__body" style={ "background-image": "linear-gradient(0deg, rgba( 0, 0, 0, .3 ), transparent), url('assets/img/new/i-2@2x.jpg')" })
              a( class="link slide-swiper-new__link" href="#" ) Bed
          div( class="swiper-slide swiper-new__slide slide-swiper-new" )
            div( class="slide-swiper-new__body" style={ "background-image": "linear-gradient(0deg, rgba( 0, 0, 0, .3 ), transparent), url('assets/img/new/i-3@2x.jpg')" })
              a( class="link slide-swiper-new__link" href="#" ) Cupboard
          div( class="swiper-slide swiper-new__slide slide-swiper-new" )
            div( class="slide-swiper-new__body" style={ "background-image": "linear-gradient(0deg, rgba( 0, 0, 0, .3 ), transparent), url('assets/img/new/i-4@2x.jpg')" })
              a( class="link slide-swiper-new__link" href="#" ) Lighting