@font-face
  font-family: "Saira"
  src: url( "../fonts/Saira-Regular.woff2" ) format( "woff2" ), url( "../fonts/Saira-Regular.woff" ) format( "woff" )
  font-display: swap
  font-style: normal
  font-weight: 400

@font-face
  font-family: "Saira"
  src: url( "../fonts/Saira-Medium.woff2" ) format( "woff2" ), url( "../fonts/Saira-Medium.woff" ) format( "woff" )
  font-display: swap
  font-style: normal
  font-weight: 500

@font-face
  font-family: "Saira"
  src: url( "../fonts/Saira-SemiBold.woff2" ) format( "woff2" ), url( "../fonts/Saira-SemiBold.woff" ) format( "woff" )
  font-display: swap
  font-style: normal
  font-weight: 600

@font-face
  font-family: "Saira"
  src: url( "../fonts/Saira-SemiBold.woff2" ) format( "woff2" ), url( "../fonts/Saira-SemiBold.woff" ) format( "woff" )
  font-display: swap
  font-style: normal
  font-weight: 600

@font-face
  font-family: "Saira"
  src: url( "../fonts/Saira-Bold.woff2" ) format( "woff2" ), url( "../fonts/Saira-Bold.woff" ) format( "woff" )
  font-display: swap
  font-style: normal
  font-weight: 700

@font-face
  font-family: "Raleway"
  src: url( "../fonts/Raleway-Medium.woff2" ) format( "woff2" ), url( "../fonts/Raleway-Medium.woff" ) format( "woff" )
  font-display: swap
  font-style: normal
  font-weight: 500

@font-face
  font-family: "Inter"
  src: url( "../fonts/Inter-Regular.woff2" ) format( "woff2" ), url( "../fonts/Inter-Regular.woff" ) format( "woff" )
  font-display: swap
  font-style: normal
  font-weight: 400