.heading
  margin: 0

  &--1
    color: var( --color-light )
    font: 600 1.5rem/1.2 "Saira", sans-serif

@media screen and ( min-width: 768px )
  .heading

    &--1
      font-size: 3rem

@media screen and ( min-width: 1024px )
  .heading

    &--1
      font-size: 4rem