.paragraph
  margin: 0
  color: var( --color-main )
  font: 400 .875rem/1.5 "Saira", sans-serif

@media screen and ( min-width: 768px )
  .paragraph
    font-size: 1rem

@media screen and ( min-width: 1024px )
  .paragraph
    font-size: 1.25rem