section( class="mailing-list" )
  div( class="container mailing-list__container" )
    div( class="mailing-list__wrapper" )
      h2( class="heading heading--2 mailing-list__heading" ) Get more discount Off your order
      p( class="paragraph mailing-list__paragraph" ) Join our mailing list
      form( class="mailing-list__form form-mailing-list" action="#" method="post" novalidate )
        div( class="form-mailing-list__wrapper" )
          input( class="input input--text form-mailing-list__input" id="user-email" name="user-email" type="email" required placeholder="Your email address" )
          button( class="button-reset button button--common form-mailing-list__button" type="submit" ) Shop Now
          span( class="form-mailing-list__error" )