extends ../_layouts/defaults.pug

block variables
  -
    let title = "Furniture website";
    let activeMenuItem = "Home";
    let navList = [
      {
        href: "#", 
        inner: "Home", 
        title: "Home page", 
      },
      {
        href: "#", 
        inner: "About", 
        title: "About me", 
      },
      {
        href: "#", 
        inner: "Features", 
        title: "Features page", 
      },
      {
        href: "#", 
        inner: "Contact", 
        title: "Contact page", 
      },
    ];
    let infoList = [
      {
        title: "7", 
        desc: "Year <br> Experience", 
      }, 
      {
        title: "2", 
        desc: "Opened in the country", 
      }, 
      {
        title: "10k+", 
        desc: "Furniture sold", 
      }, 
      {
        title: "260+", 
        desc: "Variant Furniture", 
      }, 
    ]

block header
  include ../_sections/header/header.pug
block main
  include ../_sections/create/create.pug
  include ../_sections/new/new.pug