extends ../_layouts/defaults.pug

block variables
  -
    let title = "Furniture website";
    let activeMenuItem = "Home";
    let navList = [
      {
        href: "#", 
        inner: "Home", 
        title: "Home page", 
      },
      {
        href: "#", 
        inner: "About", 
        title: "About me", 
      },
      {
        href: "#", 
        inner: "Features", 
        title: "Features page", 
      },
      {
        href: "#", 
        inner: "Contact", 
        title: "Contact page", 
      },
    ];
    let infoList = [
      {
        title: "7", 
        desc: "Year <br> Experience", 
      }, 
      {
        title: "2", 
        desc: "Opened in the country", 
      }, 
      {
        title: "10k+", 
        desc: "Furniture sold", 
      }, 
      {
        title: "260+", 
        desc: "Variant Furniture", 
      }, 
    ];
    let productList = [
      {
        imgName: "i-1", 
        title: "Ceiling Light", 
        price: "$75.00", 
        discount: "$82.00", 
      }, 
      {
        imgName: "i-2", 
        title: "Wood Chair", 
        price: "$50.00", 
        discount: "$70.00", 
      }, 
      {
        imgName: "i-3", 
        title: "Papper Cupboard", 
        price: "$105.00", 
        discount: "$120.00", 
      }, 
      {
        imgName: "i-4", 
        title: "Ole Gundorse Spring lorem", 
        price: "$82.00", 
        discount: "$100.00", 
      }, 
      {
        imgName: "i-5", 
        title: "Treos Seroes 911", 
        price: "$200.00", 
        discount: "$210.00", 
      }, 
      {
        imgName: "i-6", 
        title: "Multi Bilderman Slibber ipsum", 
        price: "$45.00", 
        discount: "$50.00", 
      }, 
      {
        imgName: "i-7", 
        title: "XORA Corner Desk", 
        price: "$320.00", 
        discount: "$325.00", 
      }, 
      {
        imgName: "i-8", 
        title: "Black Forest Series Wood", 
        price: "$225.00", 
        discount: "$240.00", 
      }, 
      {
        imgName: "i-1", 
        title: "Ceiling Light", 
        price: "$75.00", 
        discount: "$82.00", 
      }, 
      {
        imgName: "i-2", 
        title: "Wood Chair", 
        price: "$50.00", 
        discount: "$70.00", 
      }, 
      {
        imgName: "i-3", 
        title: "Papper Cupboard", 
        price: "$105.00", 
        discount: "$120.00", 
      }, 
      {
        imgName: "i-4", 
        title: "Ole Gundorse Spring lorem", 
        price: "$82.00", 
        discount: "$100.00", 
      }, 
      {
        imgName: "i-5", 
        title: "Treos Seroes 911", 
        price: "$200.00", 
        discount: "$210.00", 
      }, 
      {
        imgName: "i-6", 
        title: "Multi Bilderman Slibber ipsum", 
        price: "$45.00", 
        discount: "$50.00", 
      }, 
      {
        imgName: "i-7", 
        title: "XORA Corner Desk", 
        price: "$320.00", 
        discount: "$325.00", 
      }, 
      {
        imgName: "i-8", 
        title: "Black Forest Series Wood", 
        price: "$225.00", 
        discount: "$240.00", 
      }, 
      {
        imgName: "i-1", 
        title: "Ceiling Light", 
        price: "$75.00", 
        discount: "$82.00", 
      }, 
      {
        imgName: "i-2", 
        title: "Wood Chair", 
        price: "$50.00", 
        discount: "$70.00", 
      }, 
      {
        imgName: "i-3", 
        title: "Papper Cupboard", 
        price: "$105.00", 
        discount: "$120.00", 
      }, 
      {
        imgName: "i-4", 
        title: "Ole Gundorse Spring lorem", 
        price: "$82.00", 
        discount: "$100.00", 
      }, 
      {
        imgName: "i-5", 
        title: "Treos Seroes 911", 
        price: "$200.00", 
        discount: "$210.00", 
      }, 
      {
        imgName: "i-6", 
        title: "Multi Bilderman Slibber ipsum", 
        price: "$45.00", 
        discount: "$50.00", 
      }, 
      {
        imgName: "i-7", 
        title: "XORA Corner Desk", 
        price: "$320.00", 
        discount: "$325.00", 
      }, 
      {
        imgName: "i-8", 
        title: "Black Forest Series Wood", 
        price: "$225.00", 
        discount: "$240.00", 
      }, 
      {
        imgName: "i-1", 
        title: "Ceiling Light", 
        price: "$75.00", 
        discount: "$82.00", 
      }, 
      {
        imgName: "i-2", 
        title: "Wood Chair", 
        price: "$50.00", 
        discount: "$70.00", 
      }, 
      {
        imgName: "i-3", 
        title: "Papper Cupboard", 
        price: "$105.00", 
        discount: "$120.00", 
      }, 
      {
        imgName: "i-4", 
        title: "Ole Gundorse Spring lorem", 
        price: "$82.00", 
        discount: "$100.00", 
      }, 
      {
        imgName: "i-5", 
        title: "Treos Seroes 911", 
        price: "$200.00", 
        discount: "$210.00", 
      }, 
      {
        imgName: "i-6", 
        title: "Multi Bilderman Slibber ipsum", 
        price: "$45.00", 
        discount: "$50.00", 
      }, 
      {
        imgName: "i-7", 
        title: "XORA Corner Desk", 
        price: "$320.00", 
        discount: "$325.00", 
      }, 
      {
        imgName: "i-8", 
        title: "Black Forest Series Wood", 
        price: "$225.00", 
        discount: "$240.00", 
      }, 
      {
        imgName: "i-1", 
        title: "Ceiling Light", 
        price: "$75.00", 
        discount: "$82.00", 
      }, 
      {
        imgName: "i-2", 
        title: "Wood Chair", 
        price: "$50.00", 
        discount: "$70.00", 
      }, 
      {
        imgName: "i-3", 
        title: "Papper Cupboard", 
        price: "$105.00", 
        discount: "$120.00", 
      }, 
      {
        imgName: "i-4", 
        title: "Ole Gundorse Spring lorem", 
        price: "$82.00", 
        discount: "$100.00", 
      }, 
      {
        imgName: "i-5", 
        title: "Treos Seroes 911", 
        price: "$200.00", 
        discount: "$210.00", 
      }, 
      {
        imgName: "i-6", 
        title: "Multi Bilderman Slibber ipsum", 
        price: "$45.00", 
        discount: "$50.00", 
      }, 
      {
        imgName: "i-7", 
        title: "XORA Corner Desk", 
        price: "$320.00", 
        discount: "$325.00", 
      }, 
      {
        imgName: "i-8", 
        title: "Black Forest Series Wood", 
        price: "$225.00", 
        discount: "$240.00", 
      }, 
    ];
    let testimonialList = [
      {
        photoName: 'p-1', 
        imgName: 'i-1', 
        userName: 'Josh Smith', 
        userJob: 'Manager of The New York Times', 
        text: '“They are have a perfect touch for make something so professional ,interest and useful for a lot of people .”', 
      }, 
      {
        photoName: 'p-1', 
        imgName: 'i-1', 
        userName: 'Josh Smith', 
        userJob: 'Manager of The New York Times', 
        text: '“They are have a perfect touch for make something so professional ,interest and useful for a lot of people .”', 
      }, 
      {
        photoName: 'p-1', 
        imgName: 'i-1', 
        userName: 'Josh Smith', 
        userJob: 'Manager of The New York Times', 
        text: '“They are have a perfect touch for make something so professional ,interest and useful for a lot of people .”', 
      }, 
    ]

block header
  include ../_sections/header/header.pug
block main
  include ../_sections/create/create.pug
  include ../_sections/new/new.pug
  include ../_sections/best/best.pug
  include ../_sections/all/all.pug
  include ../_sections/testimonials/testimonials.pug