.button
  border: none
  border-radius: .7em
  padding: .5em .5em
  background: black
  background: var( --color-main )
  color: #fff
  font: 600 .75rem/1 "Saira", sans-serif

  &--glass
    padding: 1em 1em
    background: rgba( 266, 266, 266, .4 )