// Fonts
@import ../_fonts/fonts.sass

// Root
:root
  --color-dark: #23262F
  
  color: black
  color: var( --color-text )

.container
  padding: 25px

// Sections


// UI
@import ../_ui/button/button.sass
@import ../_ui/caption/caption.sass
@import ../_ui/heading/heading.sass
@import ../_ui/link/link.sass