section( class="best" )
  div( class="container best__container" )
    div( class="best__content-wrapper" )
      h2( class="heading heading--2 best__heading" ) The Best Furniture Manufacturer Of Your Choice
      p( class="paragraph best__paragraph" ) Furnitre power is a software as services for multiperpose business management system, expecially for them who are running two or more business exploree the future Furnitre power is a software as services \
    div( class="best__image-wrapper" )
      picture
        source(
          type="image/webp", 
          srcset="assets/img/best/i-1@2x.webp 2x, assets/img/best/i-1@1x.webp 1x"
        )
        source(
          type="image/jpg", 
          srcset="assets/img/best/i-1@2x.jpg 2x, assets/img/best/i-1@1x.jpg 1x"
        )
        img( class="best__image" src="assets/img/best/i-1@1x.jpg", alt="Furniture image" )